@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --color-background: 255 255 255;
  --color-foreground: 23 23 23;
  --color-primary: 79 70 229;
  --color-secondary: 99 102 241;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: 10 10 10;
    --color-foreground: 237 237 237;
    --color-primary: 37 99 235;
    --color-secondary: 37 99 235;
  }
}

body {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  font-family: Arial, Helvetica, sans-serif;
}
